@import "tailwindcss";

:root {
  --background: #F7F9FB;
  --foreground: #171717;

  --primary: #008FFF;
  --primary-darker: #0073CC;
  --primary-lighter: #66BFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-darker: var(--primary-darker);
  --color-primary-lighter: var(--primary-lighter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-optical-sizing: auto;
}